.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.file {
  height: 200px;
  width: 200px;
  background-color: grey;
}

#myId {
  height: 200px;
  width: 200px;
  background-color: grey;
}

.drivers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drivers div {
  margin: 1em 0;
}

.drivers input {
  font-size: 20px;
}

.drivers button {
  margin: 0 0.5em;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
